<!DOCTYPE html>
<html lang="en">

<head>
    <title>Confirm page</title>
</head>

<body>
    <h1>We are sending the NFT to the address: <%=address%>
    </h1>
    <p>Check your wallet after 24h from now to see it, or check the link: </p>
    <a href="//testnets.opensea.io/<%=wallet.address%>"> link</a>
    <h1>Click here to return to the landing page:</h1>
    <button onclick="window.location.href='/<%=wallet.address%>';">Here</button>
</body>

</html>