<!DOCTYPE html>
<html lang="en">

<head>
    <title>NFT</title>
</head>

<body>
    <h1>Welcome to the future</h1>
    <p>In order to receive your NFT you have to store it on a wallet.</p>
    <p>Don't worry: if you don't have one we provided creating a brand new wallet for you</p>
    <button onclick="window.location.href='/<%=address%>/transfer';">I want to use my Wallet</button>
    <button onclick="window.location.href='/<%=address%>/credentials';">I want to use Sisal Wallet</button>
</body>

</html>