<!DOCTYPE html>
<html lang="en">

<head>
    <title>Use your Wallet</title>
</head>

<body>
    <h1>Insert in this form your wallet Address</h1>
    <form action="/<%=address%>/transfer" method="POST">
        <div>
            <input type="text" class="form-control" placeholder="address" name="userAddress">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>